<!doctype html>
<html lang="en" ng-app="mainApp" ng-cloak>
<head>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8">
  <base href="/app/">

  <title ng-bind='title'></title>

  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/main.css">
  <!--STYLES END-->
</head>

<body>

<div layout="column" layout-fill>
  <md-toolbar ng-controller="toolbarCtrl as tc" ng-init="tc.startUp()">
    <div class="md-toolbar-tools">
      <span>Auto-tester™</span>
      <span flex></span>
      <md-button ui-sref="home"><md-tooltip>Grįžti į namų puslapį</md-tooltip>Home</md-button>
      <md-button ui-sref="tasklist">Užduočių sąrašas</md-button>
      <md-button ui-sref="newtask"><md-tooltip>Naujos užduoties kėlimo forma</md-tooltip>Įkelti užduotį</md-button>
      <md-menu md-position-mode="target-right target">
        <md-button class="md-raised" ng-click="$mdOpenMenu($event)">{{tc.model.user.firstName}} {{tc.model.user.lastName}}</md-button>
        <md-menu-content width="6" md-menu-origin>
          <md-menu-item>
            <md-button ui-sref="usertasklist""><md-tooltip>Peržiūrėkite ikeltas užduotis</md-tooltip>Mano užduotys</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="solutionlist"><md-tooltip>Peržiūrėkite ikeltus sprendimus</md-tooltip>Mano sprendimai</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="tc.logout()"><md-tooltip>Atsijunkite iš svetainės</md-tooltip>Atsijungti</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </div>
  </md-toolbar>

  <md-content ui-view></md-content>
</div>

<!--TEMPLATES-->

<!--TEMPLATES END-->


<!--bower components-->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<!--bower components end-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/guestApp/app.js"></script>
<script src="/js/guestApp/controllers/guestCtrl.js"></script>
<script src="/js/guestApp/controllers/loginCtrl.js"></script>
<script src="/js/guestApp/controllers/registerCtrl.js"></script>
<script src="/js/guestApp/controllers/siginCtrl.js"></script>
<script src="/js/guestApp/controllers/taskCtrl.js"></script>
<script src="/js/guestApp/controllers/tasklistCtrl.js"></script>
<script src="/js/guestApp/services/taskService.js"></script>
<script src="/js/guestApp/services/tasksService.js"></script>
<script src="/js/guestApp/services/userTasksService.js"></script>
<script src="/js/mainApp/app.js"></script>
<script src="/js/mainApp/controllers/newTaskCtrl.js"></script>
<script src="/js/mainApp/controllers/solutionSubmitCtrl.js"></script>
<script src="/js/mainApp/controllers/taskCtrl.js"></script>
<script src="/js/mainApp/controllers/taskListCtrl.js"></script>
<script src="/js/mainApp/controllers/toolbarCtrl.js"></script>
<script src="/js/mainApp/controllers/uploadSolutionFormCtrl.js"></script>
<script src="/js/mainApp/controllers/userSolutionCtrl.js"></script>
<script src="/js/mainApp/controllers/userSolutionListCtrl.js"></script>
<script src="/js/mainApp/controllers/userTaskListCtrl.js"></script>
<script src="/js/mainApp/services/currentUserService.js"></script>
<script src="/js/mainApp/services/newTaskService.js"></script>
<script src="/js/mainApp/services/solutionService.js"></script>
<script src="/js/mainApp/services/taskService.js"></script>
<script src="/js/mainApp/services/tasksService.js"></script>
<!--SCRIPTS END-->
</body>
</html>
