<div layout="column" layout-align="center center" class="md-padding">
  <div class="login-card">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Login</h1>
      </div>
    </md-toolbar>
    <form name="local_login_form" class="md-padding">
      <md-input-container class="md-block">
        <label>Username or email</label>
        <input ng-model="lc.user.identifier" autofocus get-focus="true" required>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="lc.user.password" required min="8">
      </md-input-container>
      <div layout="row" layout-align="center center">
        <md-button type ="submit" flex="50" class="md-raised md-primary" ng-click="lc.login(local_login_form)">
          log in
        </md-button>
        <md-button flex ui-sref="register">Registruotis</md-button>

      </div>
    </form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>You can also use</h1>
      </div>
    </md-toolbar>
    <div  layout="row" layout-align="space-around none">
    <md-button>
      <img src="/images/ktu.png" class="ktu-button"/>
    </md-button>
    </div>
  </div>
</div>
