<div class="md-padding" ng-controller="registerCtrl as rc" layout="column" layout-align="center center">
  <div class="login-card" md-whiteframe="4" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      Registracija
    </div>
  </md-toolbar>
  <form layout="row" layout-align="center" name="registration">
    <div class="md-padding" layout="column" layout-align="center" flex>
      <md-input-container>
        <label>Prisijungimo vardas</label>
        <input type="text" ng-model="rc.user.username" md-maxlength="18" required/>
      </md-input-container>
      <md-input-container>
        <label>Vardas</label>
        <input type="text" ng-model="rc.user.firstName" md-maxlength="18" required/>
      </md-input-container>
      <md-input-container>
        <label>Pavardė</label>
        <input type="text" ng-model="rc.user.lastName" md-maxlength="18" required/>
      </md-input-container>
    </div>
    <div  class="md-padding"  layout="column" layout-align="center" flex>
      <md-input-container>
        <label>El. Paštas</label>
        <input type="email" ng-model="rc.user.email" md-maxlength="40" required/>
      </md-input-container>
      <md-input-container>
        <label>Slaptažodis</label>
        <input type="password" ng-model="rc.user.password" md-maxlength="18" required/>
      </md-input-container>
      <md-input-container>
        <label>Pakartokite slaptažodį</label>
        <input type="password" ng-model="rc.user.pwd_repeat" md-maxlength="18" required ng-pattern="rc.user.password"/>
      </md-input-container>
    </div>
  </form>
    <md-button flex ng-disabled="!registration.$valid"
               ng-click="rc.send()" class="md-raised md-primary">Registruotis</md-button>
  </div>
</div>
