<md-content layout='row' layout-padding layout-align='center stretch'>
  <h3>Sveiki atvykę!</h3>
</md-content>
<md-content layout='row' layout-padding layout-align='left stretch'>
  <p>
    Čia yra auto-tester, jus keliate kelia užduotis, kiti kelia sprendimus, mes atliekame tikrinimus už jus.
  </p>
</md-content>
