<div layout='column'>
  <form name="newProblem">
    <div layout="row">
      <span flex></span>
      <md-button class="md-warn" ng-click="ntc.resetForm()">Pradėti iš naujo</md-button>
      <md-button class="md-raised md-primary"
                 ng-disabled="!ntc.form.taskName.length || !ntc.form.taskMainDescription.length
		  || !ntc.form.taskInputDescription.length || !ntc.form.taskOutputDescription
		  || !ntc.totalExamples() || !ntc.totalTests()" ng-click="ntc.create(ntc.form)">
        Įkelti užduotį
      </md-button>
    </div>
    <md-tabs md-dynamic-height md-stretch-tabs="always" md-autoselect md-swipe-content md-border-bottom>
      <md-tab label="Aprašai ir apribojimai">
        <div class="tab">
          <md-input-container class="md-block" flex="30" id="taskName">
            <label>Pavadinimas</label>
            <input ng-model="ntc.form.taskName" md-maxlength="25" placeholder="Užduoties pavadinimas" required></input>
          </md-input-container>

          <md-input-container class="md-block" id="taskMainDescription">
            <label>Užduoties aprašas</label>
						<textarea ng-model="ntc.form.taskMainDescription" md-maxlength="500"
                      md-select-on-focus placeholder="Pagrindinis užduoties aprašymas" required>
						</textarea>
          </md-input-container>

          <md-input-container class="md-block" id="taskInputDescription">
            <label>Įvesties aprašas</label>
						<textarea ng-model="ntc.form.taskInputDescription" md-maxlength="255"
                      md-select-on-focus placeholder="Sprendimo programai pateikiamos įvesties aprašymas" required>
						</textarea>


          </md-input-container>

          <md-input-container class="md-block" id="taskOutputDescription">
            <label>Išvesties aprašas</label>
						<textarea ng-model="ntc.form.taskOutputDescription" md-maxlength="255"
                      md-select-on-focus placeholder="Sprendimo išvesties formato aprašas" required>
						</textarea>
          </md-input-container>
        </div>
      </md-tab>
      <md-tab label="Įvesties pavyzdžiai">
        <div class="tab">
          <div><h2>Sukurta {{ ntc.totalExamples() }} testų pavyzdžių</h2></div>
          <md-list>
            <md-list-item>
              <div flex=45>Įvestis</div>
              <div flex=45>Tikima išvestis</div>
            </md-list-item>
            <md-list-item ng-repeat="example in ntc.form.examples" ng-click="ntc.editEntry(example)">
              <div flex=45> {{ example.input }}</div>
              <div flex=45> {{ example.output }}</div>
              <md-button ng-click="ntc.removeEntry(example)" class="md-warn md-raised">X</md-button>
            </md-list-item>

            <div layout="row" flex class="md-block">
              <md-input-container flex=45 required ng-model="inputBox">
                <label>Įvesties pavyzdys</label>
                <textarea ng-model="ntc.form.taskExampleInput"></textarea>
              </md-input-container>
              <md-input-container flex=45 required id="output" ng-model="outputBox">
                <label>Išvesties pavyzdys</label>
                <textarea ng-model="ntc.form.taskExampleOutput"></textarea>
              </md-input-container>
              <div flex>
                <md-button ng-click="ntc.addExampleEntry()" class="md-default md-raised md-primary"
                           ng-disabled="!ntc.form.taskExampleInput || !ntc.form.taskExampleOutput">
                  <md-tooltip>Pridėti naują įvesties pavyzdį</md-tooltip>
                  +
                </md-button>
              </div>
            </div>
          </md-list>
        </div>
      </md-tab>
      <md-tab label="Testiniai duomenys">
        <div layout="column" flex class="md-block md-padding">
          <h2>Sukurta {{ ntc.totalTests() }} testų</h2>
          <md-list>
            <md-list-item>
              <div flex=45>Įvestis</div>
              <div flex=45>Tikima išvestis</div>
            </md-list-item>
            <md-list-item ng-repeat="example in ntc.form.tests" ng-click="ntc.editTestEntry(example)">
              <div flex=45> {{ example.input }}</div>
              <div flex=45> {{ example.output }}</div>
              <md-button ng-click="ntc.removeEntry(example)" class="md-warn md-raised">X</md-button>
            </md-list-item>
            <div layout="row">
              <md-input-container flex=45 required ng-model="inputRealBox">
                <label>Įvesties pavyzdys</label>
                <textarea ng-model="ntc.form.taskTestInput"></textarea>
              </md-input-container>
              <md-input-container flex=45 required id="output" ng-model="outputRealBox">
                <label>Išvesties pavyzdys</label>
                <textarea ng-model="ntc.form.taskTestOutput"></textarea>
              </md-input-container>
              <div flex>
                <md-button ng-click="ntc.addTestEntry()" class="md-default md-raised md-primary"
                           ng-disabled="!ntc.form.taskTestInput || !ntc.form.taskTestOutput">
                  <md-tooltip>Pridėti naują testą</md-tooltip>
                  +
                </md-button>
              </div>
            </div>
          </md-list>
        </div>
      </md-tab>
      <md-tab label="Peržiūra">
        <md-toolbar layout="row" layout-align="stretch">
          <div class="md-toolbar-tools">
            <span>{{ ntc.form.taskName }}</span>
            <span flex></span>
          </div>
        </md-toolbar>
        <div class="tab" layout='column'>
          <h2>Užduoties aprašas</h2>
          <p>{{ ntc.form.taskMainDescription }}</p>
          <h2>Įvesties aprašymas</h2>
          <p>{{ ntc.form.taskInputDescription }}</p>
          <h2>Išvesties aprašymas</h2>
          <p>{{ ntc.form.taskOutputDescription }}</p>
          <h2>Įvesties/išvesties pavyzdžiai</h2>
          <md-content class="md-padding" md-whiteframe="4" ng-repeat="example in ntc.form.examples">
            <md-list md-whiteframe="4" class="md-padding">
              <h3>Input:</h3>
              <md-list-item>{{ example.input }}</md-list-item>
              <md-divider></md-divider>
              <h3>Output:</h3>
              <md-list-item>{{ example.output }}</md-list-item>
            </md-list>
          </md-content>
        </div>
      </md-tab>
    </md-tabs>
  </form>

</div>
