<div layout="column" layout-align="center center" class="md-padding">
  <div class="login-card" md-whiteframe="4">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Login</h1>
      </div>
    </md-toolbar>
    <form class="md-padding" ng-submit="ssc.send()">
      <input type="text" placeholder="title" ng-model="ssc.title" class="form-control" required>
      <br><br>
      <input type="file" ng-model="ssc.file">Select file</input>
      <br><br>
      <input type="submit">
    </form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>You can also use</h1>
      </div>
    </md-toolbar>
    <div  layout="row" layout-align="space-around none">
    <md-button>
      <img src="/images/ktu.png" class="ktu-button"/>
    </md-button>
    </div>
  </div>
</div>
