<div ng-controller="tasklistCtrl as tlc" ng-init="tlc.init()">
  <div class="md-padding">
    <md-toolbar layout="row" layout-fill>
      <div class="md-toolbar-tools">
        <div>Galimos užduotys</div>
        <span flex></span>
        <input ng-model="tlc.filtras" type="text" placeholder="filtruoti"></input>
      </div>
    </md-toolbar>
    <div class="md-padding" layout="column" layout-align="center stretch">
      <md-list class="md-padding">
        <md-list-item layout="row" layout-align="center" ng-repeat="task in tlc.model.tasks | filter : tlc.filtras" ng-click="null">
          <div flex="5" layout="column">{{ task.id }}</div>
          <div flex="55" layout="column">{{ task.name }}</div>
          <div flex="30" layout="column">{{ task.creatorName }}</div>
          <md-button class="md-raised" ui-sref="task({id:task.id})">Peržiūrėti</md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
