<div class="md-padding" ng-controller="taskCtrl as kc" ng-init="kc.init()">
  <md-toolbar layout="row" layout-align="stretch">
    <div class="md-toolbar-tools">
      <span>{{ kc.model.task.title }}</span>
      <span flex></span>
      <md-button class="md-accent" ng-click="kc.showMySolutions()">Mano sprendimai</md-button>
      <md-button ng-click="kc.showSolutionUpload($event)" class="md-raised">Įkelti sprendimą</md-button>
    </div>
  </md-toolbar>
  <div class="md-padding">
    <span>Autorius: {{ kc.model.task.createdBy.username }}</span>
    <h2>Užduoties aprašas</h2>
    <p>{{ kc.model.task.description }}</p>
    <h2>Įvesties aprašymas</h2>
    <p>{{ kc.model.task.input }}</p>
    <h2>Išvesties aprašymas</h2>
    <p>{{ kc.model.task.output }}</p>
    <h2>Įvesties/išvesties pavyzdžiai</h2>
    <md-content class="md-padding" md-whiteframe="4" ng-repeat="example in kc.model.task.examples">
      <md-list md-whiteframe="4" class="md-padding">
        <h3>Input:</h3>
        <md-list-item>{{ example.input }}</md-list-item>
        <md-divider></md-divider>
        <h3>Output:</h3>
        <md-list-item>{{ example.output }}</md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
