<md-dialog aria-label="Uploading solution" ng-controller="uploadSolutionFormCtrl as ufc" flex="60">
  <form layout="column" name="upload">
    <md-toolbar>
      <div class="md-toolbar-tools">
        Pasirinkite failą<span flex></span>
      </div>
    </md-toolbar>
    <div class="md-padding" layout="column" flex-grow>
      <md-input-container>
        <md-select required ng-model="ufc.language" class="md-padding">
          <label>Programavimo kalba</label>
          <md-option value="java">Java</md-option>
          <md-option value="python">Python</md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-hide="ufc.language !== 'java'">
        <label>Pagrindinis klasės pavadinimas</label>
        <input type="text" ng-model="ufc.className" ng-required="(ufc.language === 'java')" />
      </md-input-container>
      <md-input-container flex="100" ng-model="inputBox">
        <label>Įklijuokite savo kodą</label>
        <textarea ng-model="ufc.code"  flex="100" required></textarea>
      </md-input-container>

    </div>
    <div layout="row" class="md-padding">
      <md-button class="md-raised md-primary" ng-click="ufc.submit(upload)" ng-disabled="!upload.$valid">Įkelti</md-button>
      <md-button class="md-warn" ng-click="ufc.cancel()">Atšaukti</md-button>
    </div>
  </form>
</md-dialog>
