<div ng-controller="userSolutionListCtrl as uslc" class="md-padding">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Mano sprendimai</span>
      <span flex></span>
      <input ng-model="uslc.filtras" placeholder="filtruoti..."/>
    </div>
  </md-toolbar>
  <div class="md-padding">
    <md-list>
      <md-list-item ng-click="null" ng-repeat="solution in uslc.solutionlist | filter:uslc.filtras">
        <div flex="10" layout="column">{{ solution.id }}</div>
        <div flex="55" layout="column">{{ solution.taskName }}</div>
        <div flex="30" layout="column">{{ solution.solutionResults }}</div>
        <md-button class="md-raised" ui-sref="solution({id:solution.id})">Peržiūrėti</md-button>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>
