<div ng-controller="userTaskListCtrl as utlc">
  <div class="md-padding">
    <md-toolbar layout="row" layout-fill>
      <div class="md-toolbar-tools">
        <div>Mano sukurtos užduotys</div>
        <span flex></span>
        <input ng-model="utlc.filtras" type="text" placeholder="filtruoti"></input>
      </div>
    </md-toolbar>
    <div class="md-padding" layout="column" layout-align="center stretch">
      <md-list class="md-padding">
        <md-list-item layout="row" layout-align="center" ng-repeat="task in utlc.tasklist | filter : utlc.filtras" ng-click="null">
          <div flex="5" layout="column">{{ task.id }}</div>
          <div flex layout="column">{{ task.taskName }}</div>
          <md-button class="md-raised" onclick="alert('TBI')" ui-sref="editTask({id:task.id})">Keisti</md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
