<div class="md-padding" ng-controller="userSolutionCtrl as usc">
  <md-toolbar layout="row" layout-align="stretch">
    <div class="md-toolbar-tools">
      <span>{{ usc.task.title }}</span>
      <span flex></span>
    </div>
  </md-toolbar>
  <div class="md-padding">
    <span>Autorius: {{ usc.task.creatorName }}</span>
    <h2>Užduoties aprašas</h2>
    <p>{{ usc.task.mainDescription }}</p>
    <h2>Įvesties aprašymas</h2>
    <p>{{ usc.task.inputDescription }}</p>
    <h2>Išvesties aprašymas</h2>
    <p>{{ usc.task.outputDescription }}</p>
    <h2>Jūsų testų pavyzdžiai</h2>
    <md-content class="md-padding" md-whiteframe="4" ng-repeat="result in usc.testResults">
      <md-list md-whiteframe="4" class="md-padding" ng-class="{true:result.result, false:!result.result}">
        <h3>Input:</h3>
        <md-list-item>{{ result.input }}</md-list-item>
        <md-divider></md-divider>
        <h3>Output:</h3>
        <md-list-item>{{ result.output }}</md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
