body {
	overflow: hidden;
}

.form{
	margin-top: 1%;
	margin-bottom: 3%;
	margin-left:10%;
	margin-right:10%;
	padding: 3%;
}

.tab{
	padding: 3%;
}
.viewPort{
	margin: 2%;
}
.tableCell{
	border:solid black 1px;
	padding:1%;
}