.main-picture {
  width: 100%;
  height: 100vh;
  background: url('/images/ProgrammingLanguage.jpg') no-repeat center;
}

/*
.md-button {
  width: 100%;
  height: 100%;
}
*/
.login-card {
  max-width: 90%;
  width: 500px;
}

.ktu-button {
  width: 50%;
  margin-top: 15px;
}
