body {
	overflow: hidden;
}

.content{
  height: 600px;
	margin-top: 1%;
	margin-left:10%;
	margin-right:10%;
	padding: 3%;
}
.viewPort{
	margin: 2%;
}
.tab{
  padding: 2%;
}

.true{
  background:#b9f6ca;
}
.false{
  background:#ff8a80;
}

/*
.md-button {
  width: 100%;
  height: 100%;
}
*/
.login-card {
  max-width: 90%;
  width: 500px;
}

.ktu-button {
  width: 50%;
  margin-top: 15px;
}

.content {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
