<!DOCTYPE html>
<html ng-app="creatingTests">
<head>
	<meta charset="utf-8"/>
	<title>Auto-tester</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
<div class="container">
	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs nav-justified">
						<li ><a href="../index.html">Pradinis puslapis</a></li>
						<li><a href="uzduotys.html">Užduotys</a></li>
						<li class="active"><a href="#">Įkelti užduotį</a></li>
						<li><a href="#">Prisijungti su KTU</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="col-xs-8" >
		<div class="well" >
			<form name="myForm" class="form-group" action="" method="post" ng-controller="IOCtrl as IOList">
				<div class="form-group">
					<label for="test_name">Pavadinimas</label>
					<input type="text" name="test_name" class="form-control" id="test_name" required/>
				</div>

				<div class="form-group">
					<label for="test_description">Užduoties aprašas</label>
					<textarea type="text" name="test_description" class="form-control" id="test_description" rows="10" required></textarea>
				</div>

				<div class="form-group">
					<label for="input_description">Įvesties aprašas</label>
					<textarea type="text" name="input_description" class="form-control" id="input_description" rows="2" required></textarea>
				</div>

				<div class="form-group">
					<label for="output_description">Išvesties aprašas</label>
					<textarea type="text" name="output_description" class="form-control" id="output_description" rows="2" required></textarea>
				</div>

				<!-- Čia turi but pavyzdzių kėlimas -->
				
				<div class="form-group well">
						<label> Įvesties/Išvesties pavyzdžiai</label><br/>
						Sukurti {{IOList.totalExamples()}} pavyzdžiai.
						<ul>
							<li ng-repeat="entry in IOList.exampleEntries">{{entry.input}} | {{entry.output}}</li>
						</ul>
						
						<input type="text" ng-model="IOList.example_input" placeholder="Įvestis" size="35"/>
						<input type="text" ng-model="IOList.example_output" placeholder="Tikimasi išvesties" size="35"/>
						<a class="btn btn-primary" ng-click="IOList.addExampleEntry()">+</a>
				</div>
				<!-- ------------------------------ -->
				<!-- Čia turi būt testinių duomenų vedimas -->
				<div class="form-group well">
						<label>Tikrinamos įvestys ir jų tėtinos išvestys.</label><br/>
						Sukurti {{IOList.totalTests()}} pavyzdžiai.
						<ul>
							<li ng-repeat="entry in IOList.testEntries">{{entry.input}} | {{entry.output}}</li>
						</ul>
						
						<input type="text" ng-model="IOList.test_input" placeholder="Įvestis" size="35"/>
						<input type="text" ng-model="IOList.test_output" placeholder="Tikimasi išvesties" size="35"/>
						<a class="btn btn-primary" ng-click="IOList.addTestEntry()" >+</a>
				</div>
				<!-- ------------------------------ -->

				
				
				<div class="form-group">
					<a href class="btn btn-warning form-control" ng-click="IOList.alert()">Peržiūra</a>
					<input type="submit" class="btn btn-success form-control" value="Įkelti užduotį"  />
				</div>
			</form>
		</div>
	</div>
	<!-- Insturkcija -->
	<div class="col-xs-4">
		<div class="well">
			<h1>Instrukcija</h1>

		</div>
	</div>



</div>

</body>
<!-- JQuery from google -->
<script src="../js/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../js/bootstrap.min.js"></script>


<script src="../js/angular.js"></script>
<script src="../js/creatingTest.js"></script>
</html>