<div layout='column' ng-controller='newTaskFormCtrl as ctrl'>
		<md-tabs md-dynamic-height md-autoselect md-swipe-content md-border-bottom>
			<md-tab label="Aprašai ir apribojimai">
				<div class="tab">
						<md-input-container class="md-block" flex=30>
							<label>Pavadinimas</label>
							<input ng-model = "form.taskName" md-maxlength="25" placeholder="Užduoties pavadinimas"></input>
						</md-input-container>
						
						<md-input-container class="md-block">
							<label>Užduoties aprašas</label>
							<textarea ng-model = "form.taskMainDescription" md-maxlength="500"
								md-select-on-focus placeholder="Pagrindinis užduoties aprašymas">
							</textarea>
						</md-input-container>
						
						<md-input-container class="md-block">
							<label>Įvesties aprašas</label>
							<textarea ng-model = "form.taskInputDescription" md-maxlength="255"
								md-select-on-focus placeholder="Sprendimo programai pateikiamos įvesties aprašymas">
							</textarea>
						</md-input-container>
						
						<md-input-container class="md-block">
							<label>Išvesties aprašas</label>
							<textarea ng-model = "form.taskOutputDescription" md-maxlength="255" 
								md-select-on-focus placeholder="Sprendimo išvesties formato aprašas">
							</textarea>
						</md-input-container>
				</div>
			</md-tab>
			<md-tab label="Įvesties pavyzdžiai">
				<div class="tab">
					<div><h2>Sukurta {{ totalExamples() }} testų pavyzdžių</h2></div>
					<md-list>
						<md-list-item>
							<div flex=45>Įvestis</div>
							<div flex=45>Tikima išvestis</div>
						</md-list-item>
						<md-list-item ng-repeat="example in taskTestExamples" ng-click="null">
							<div flex=45 > {{ example.input }} </div>
							<div flex=45 > {{ example.output }} </div>
							<md-button ng-click="removeEntry(example)" class="md-warn md-raised">X</md-button>
						</md-list-item>
						
						<div layout="row" flex class="md-block">
							<md-input-container flex=45 required ng-model="inputBox">
								<label>Įvesties pavyzdys</label>
								<input ng-model="form.taskExampleInput"></input>
							</md-input-container>
							<md-input-container flex=45 required id="output" ng-model="outputBox">
								<label>Išvesties pavyzdys</label>
								<input ng-model="form.taskExampleOutput"></input>
							</md-input-container>
							<div flex>
							<md-button ng-click="addExampleEntry()" class="md-default md-raised md-primary" ng-disabled="{{inputBox.$valid}}">
								<md-tooltip>Pridėti naują įvesties pavyzdį</md-tooltip>
								+
							</md-button>
							</div>
						</div>
					</md-list>
				</div>
			</md-tab>
			<md-tab label="Peržiūra">
				<div class="tab" layout='column'>
					<div><h1>{{form.taskName}}</h1></div>
					<div><h3>Užduotis:</h3></div>
					<div class="md-block">{{form.taskMainDescription}}</div>
					<div><p></p></div>
					<div><h3>Įvesties formatas:</h3></div>
					<div class="md-block">{{form.taskInputDescription}}</div>
					<div><p></p></div>
					<div><h3>Išvesties formatas:</h3></div>
					<div class="md-block">{{form.taskOutputDescription}}</div>
					<div><p></p></div>
					<div><h3>Įvesties-išvesties pavyzdžiai:</h3></div>
					<div class="md-block" ng-repeat="example in taskTestExamples">
						<div flex class="tableCell">INPUT</div>
						<div flex class="tableCell">{{example.input}}</div>
						<div></div>
						<div flex class="tableCell">OUTPUT</div>
						<div flex class="tableCell">{{example.output}}</div>
						
					</div>
				</div>
				
			</md-tab>
		</md-tabs>
		
</div>