<md-content layout='row' layout-align="center" class='login' layout-fill class="md-primary">
	<h2>Prisijunkite</h2>
</md-content>
<div layout="column">
<md-content md-theme="docs-dark">
<md-content layout="row" layout-align="center">
	<md-input-container class="md-block" >
		<label>Prisijungimo vardas</label>
		<input></input>
	</md-input-container>
</md-content>
<md-content layout="row" layout-align="center">
	<md-input-container class="md-block" >
		<label>Slaptažodis</label>
		<input type="password"></input>
	</md-input-container>
</md-content>
</md-content>
</div>
<md-content layout="row" layout-align="center stretch">
	<md-button class="md-raised" href="">Prisijungti</md-button>
	<md-button href="#signup">Registruotis</md-button>
</md-content>